body {
    font-family: monospace;
    font-weight: 600;
    background-color: #171616;
}

.main-div {
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.contents {
    margin: 20px 0 0 0 ;
}

table td {
    padding-bottom: 10px;
}

#compute {
    margin-bottom: 10px;
    background-color: #242222;
    color: white;
    height: 40px;
    width: 100%;
    font-size: 20px;
    border-radius: 4px;
    margin-top: 30px;
    border: 1px solid #767676;
    cursor: pointer;
}

#compute:hover {
    background-color: #2a2727;
}

#principal {
    height: 31px;
    background-color: #242222;
    color: white;
    border: 1px solid #767676;
    border-radius: 4px;
    padding-left: 4px;
}

#principal:focus {
    border: 1px solid #767676;
    text-shadow: none!important;
    resize: none;
    outline: none;
    background-color: #2a2727;
}

#years {
    height: 35px;
    width: 100%;
    background-color: #242222;
    color: white;
    border: 1px solid #767676;
    border-radius: 4px;
}

#years:focus {
    border: 1px solid #767676;
    text-shadow: none!important;
    resize: none;
    outline: none;
    background-color: #2a2727;
}

.labels {
    width: 120px;
}

.highlight {
    background-color: #34353a;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#result {
    margin-top: 20px;
}

.result-and-btn-div {
    display: flex;
    flex-direction: column;
}

.interest-rate-td {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
